<?xml version="1.0"?>
<config>
	<modules>
		<AW_Twitter_Tweet>
			<version>3.0.0</version>
		</AW_Twitter_Tweet>
	</modules>
	<global>
		<blocks>
			<twittertweet>
				<class>AW_Twitter_Tweet_Block</class>
			</twittertweet>
		</blocks>
		<models>
			<twittertweet>
				<class>AW_Twitter_Tweet_Model</class>
			</twittertweet>
		</models>
		<helpers>
			<twittertweet>
				<class>AW_Twitter_Tweet_Helper</class>
			</twittertweet>
		</helpers>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<AW_Twitter_Tweet>
					<files>
						<default>AW_Twitter_Tweet.csv</default>
					</files>
				</AW_Twitter_Tweet>
			</modules>
		</translate>

		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<twittertweet translate="title" module="twittertweet">
											<title>Twitter "Tweet" Button</title>
											<sort_order>100</sort_order>
										</twittertweet>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	
	<frontend>
		<layout>
			<updates>
				<twittertweet>
					<file>twittertweet.xml</file>
				</twittertweet>
			</updates>
		</layout>
	</frontend>

	<default>
		<twittertweet>
			<general>
				<button_code>javascript</button_code>
				<count>horizontal</count>
				<width>130px</width>
				<height>50px</height>
				<via>aheadWorks</via>
			</general>
			<content>
				<show_in_cms>0</show_in_cms>				
				<show_in_home>0</show_in_home>				
				<show_in_category>0</show_in_category>				
				<show_in_product>0</show_in_product>				
				<show_custom>0</show_custom>
				<show_widget>0</show_widget>
			</content>
		</twittertweet>
	</default>
</config>