<?xml version="1.0"?>
<config>
    <modules>
        <AW_Facebook_Like>
            <version>3.0.0</version>
        </AW_Facebook_Like>
    </modules>
    <global>
        <blocks>
            <facebookilike>
                <class>AW_Facebook_Like_Block</class>
            </facebookilike>
        </blocks>
        <models>
            <facebookilike>
                <class>AW_Facebook_Like_Model</class>
                <resourceModel>facebookilike_mysql4</resourceModel>
            </facebookilike>
            <facebookilike_mysql4>
                <class>AW_Facebook_Like_Model_Mysql4</class>
                <entities>
                    <like>
                        <table>mp_fb_like</table>
                    </like>
                </entities>
            </facebookilike_mysql4>
        </models>
        <helpers>
            <facebookilike>
                <class>AW_Facebook_Like_Helper</class>
            </facebookilike>
        </helpers>
        <resources>
            <facebookilike_setup>
                <setup>
                    <module>AW_Facebook_Like</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </facebookilike_setup>           
        </resources>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <AW_Facebook_Like>
                    <files>
                        <default>AW_Facebookilike.csv</default>
                    </files>
                </AW_Facebook_Like>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <facebookilike translate="title" module="facebookilike">
                                            <title>Facebook "Like" Button</title>
                                            <sort_order>100</sort_order>
                                        </facebookilike>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <facebookilike>
                    <file>facebookilike.xml</file>
                </facebookilike>
            </updates>
        </layout>
        <routers>
            <facebookilike>
                <use>standard</use>
                <args>
                    <module>AW_Facebook_Like</module>
                    <frontName>facebookilike</frontName>
                </args>
            </facebookilike>
        </routers>
    </frontend>

    <default>
        <web>
            <routers>
                <facebookilike>
                    <area>frontend</area>
                    <class>AW_Facebook_Like_Controller_Varien_Router_Standard</class>
                </facebookilike>
            </routers>
        </web>
        <facebookilike>
            <general>
                <plugin_code>html5</plugin_code>
                <layout>standard</layout>
                <action>like</action>
                <colorscheme>light</colorscheme>
                <width>450</width>
                <height>21</height>
                <language>en_US</language>
            </general>
            <content>
                <show_in_cms>0</show_in_cms>
                <show_in_home>0</show_in_home>
                <show_in_category>0</show_in_category>
                <show_in_product>0</show_in_product>
                <show_custom>0</show_custom>
                <show_widget>0</show_widget>
            </content>
        </facebookilike>
    </default>
</config>
