<?xml version="1.0"?>
<config>
    <tabs>
        <awall translate="label">
            <label>aheadWorks Extensions</label>
            <sort_order>300</sort_order>
        </awall>
    </tabs>
    <sections>
        <facebookilike translate="label" module="facebookilike">
            <label>Facebook Like</label>
            <tab>awall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>15</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <plugin_code translate="label">
                            <label>Button Plugin Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>facebookilike/system_config_source_plugincode</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </plugin_code>
                        <href translate="label comment">
                            <label>URL to Like</label>
                            <comment>The URL to like. In XFBML, defaults to the current page.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </href>
                        <send translate="label comment">
                            <label>Send Button (XFBML Only)</label>
                            <comment>Include a Send button with the Like button. This only works with the XFBML
                                version.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </send>
                        <layout translate="label comment">
                            <label>Layout Style</label>
                            <comment>Determines the size and amount of social context next to the button.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>facebookilike/system_config_source_layout</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </layout>
                        <show_faces translate="label comment">
                            <label>Show Faces</label>
                            <comment>Show profile pictures below the button.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_faces>
                        <width translate="label comment">
                            <label>Width</label>
                            <comment>The width of the plugin, in pixels.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <height translate="label comment">
                            <label>Height</label>
                            <comment>The height of the plugin, in pixels.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
                        <action translate="label comment">
                            <label>Verb to display</label>
                            <comment>The verb to display in the button. Currently only 'like' and 'recommend' are
                                supported.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>facebookilike/system_config_source_action</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </action>
                        <colorscheme translate="label comment">
                            <label>Color Scheme</label>
                            <comment>The color scheme of the plugin.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>facebookilike/system_config_source_colorscheme</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </colorscheme>
                        <title translate="label comment">
                            <label>Title</label>
                            <comment>The title of the entity.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <type translate="label comment">
                            <label>Type</label>
                            <comment>The type of entity.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>facebookilike/system_config_source_type</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type>
                        <url translate="label comment">
                            <label>URL</label>
                            <comment>The canonical, permanent URL of the page representing the entity.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url>
                        <image translate="label comment">
                            <label>Image</label>
                            <comment>The URL to an image that represents the entity.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image>
                        <site_name translate="label comment">
                            <label>Site name</label>
                            <comment>A human-readable name for your site.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </site_name>
                    </fields>
                </general>
                <content translate="label">
                    <label>Content Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <show_in_cms translate="label">
                            <label>Display on CMS pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_in_cms>
                        <show_in_home translate="label">
                            <label>Display on Home page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_in_home>
                        <show_in_category translate="label">
                            <label>Display on categories page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_in_category>
                        <show_in_product translate="label">
                            <label>Display on products page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_in_product>
                        <show_custom translate="label">
                            <label>Display Custom Buttons</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_custom>
                        <show_widget translate="label">
                            <label>Display Widget Buttons</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_widget>
                    </fields>
                </content>
            </groups>
        </facebookilike>
        <points translate="label" module="fbintegrator">
            <label><![CDATA[Points & Rewards]]></label>
            <tab>awall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <earning_points translate="label">
                    <fields>
                        <fb_like_points translate="label">
                            <label>For Facebook Like</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fb_like_points>
                        <fb_like_delay translate="label">
                            <label>Delay between Facebook Likes, seconds</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>96</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fb_like_delay>
                        <fb_like_max_like_count translate="label">
                            <label>Max Facebook Like count</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>97</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fb_like_max_like_count>
                        <fb_like_time translate="label">
                            <label>Facebook Like time limit, seconds</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>98</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fb_like_time>
                    </fields>
                </earning_points>
            </groups>
        </points>
    </sections>
</config>
