Capfile
/config
/downloader
/images
/includes
/media
/pkginfo
/sitemaps
/var
.idea/*
.idea
.modman/*
app/etc/local.xml
app/etc/enterprise.xml
errors/local.xml
*.*~
*.sql
*.swp
*.tar
*.tar.gz
.DS_Store
Thumbs.db
.htaccess
error_log
php.ini
/.svn
.svn/*
.svn
.csv
REVISION
