<?xml version="1.0"?>

<config>
    <modules>
        <AW_Google_Share>
            <version>3.0.0</version>
        </AW_Google_Share>
    </modules>
    <global>
        <blocks>
            <googleshare>
                <class>AW_Google_Share_Block</class>
            </googleshare>
        </blocks>
        <models>
            <googleshare>
                <class>AW_Google_Share_Model</class>
            </googleshare>
        </models>
        <helpers>
            <googleshare>
                <class>AW_Google_Share_Helper</class>
            </googleshare>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <AW_Google_Share>
                    <files>
                        <default>AW_Google_Share.csv</default>
                    </files>
                </AW_Google_Share>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <googleshare translate="title" module="googleshare">
                                            <title>AW Google Share Button</title>
                                            <sort_order>100</sort_order>
                                        </googleshare>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <googleshare>
                    <file>googleshare.xml</file>
                </googleshare>
            </updates>
        </layout>
    </frontend>
    
    <default>
        <googleshare>
            <general>  
                <button_code>0</button_code>
				<height>15</height>
				<width>120</width>				
            </general>
            <content>
                <show_in_cms>0</show_in_cms>
                <show_in_home>0</show_in_home>
                <show_in_category>0</show_in_category>
                <show_in_product>0</show_in_product>
                <show_custom>0</show_custom>
                <show_widget>0</show_widget>
            </content>
        </googleshare>
    </default>
</config>
