<?xml version="1.0"?>
<config>
    <tabs>
        <awall translate="label">
            <label>aheadWorks Extensions</label>
            <sort_order>300</sort_order>
        </awall>
    </tabs>
    <sections>
        <facebooksubscribe translate="label" module="facebooksubscribe">
            <label>Facebook Subscribe Button</label>
            <tab>awall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>17</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <plugin_code translate="label">
                            <label>Button Plugin Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>facebooksubscribe/system_config_source_plugincode</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </plugin_code>
                        <href translate="label comment">
                            <label>URL to Subscribe</label>
                            <comment>Profile URL of the user to subscribe to. This must be a facebook.com profile URL.
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </href>
                        <layout translate="label comment">
                            <label>Layout Style</label>
                            <comment>Determines the size and amount of social context next to the button.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>facebooksubscribe/system_config_source_layout</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </layout>
                        <show_faces translate="label comment">
                            <label>Show Faces</label>
                            <comment>Show profile pictures below the button.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_faces>
                        <colorscheme translate="label comment">
                            <label>Color Scheme</label>
                            <comment>The color scheme of the plugin.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>facebooksubscribe/system_config_source_colorscheme</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </colorscheme>
                        <width translate="label comment">
                            <label>Width</label>
                            <comment>The width of the plugin, in pixels.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                    </fields>
                </general>
                <content translate="label">
                    <label>Content Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <show_in_cms translate="label">
                            <label>Display on CMS pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_in_cms>
                        <show_in_home translate="label">
                            <label>Display on Home page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_in_home>
                        <show_in_category translate="label">
                            <label>Display on categories page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_in_category>
                        <show_in_product translate="label">
                            <label>Display on products page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_in_product>
                        <show_custom translate="label">
                            <label>Display Custom Buttons</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_custom>
                        <show_widget translate="label">
                            <label>Display Widget Buttons</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_widget>
                    </fields>
                </content>
            </groups>
        </facebooksubscribe>
    </sections>
</config>
