<?xml version="1.0"?>
<config>
    <tabs>
        <awall translate="label">
            <label>aheadWorks Extensions</label>
            <sort_order>300</sort_order>
        </awall>
    </tabs>
	<sections>
		<googleplusone translate="label" module="googleplusone">
			<label>Google "+1" Button</label>
            <tab>awall</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General Options</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<button_code translate="label">
							<label>Button Code Type</label>
							<frontend_type>select</frontend_type>
							<source_model>googleplusone/system_config_source_buttoncode</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</button_code>
						<href translate="label comment">
							<label>URL of a page</label>
							<comment>We recommend using this tag when you have a +1 button next to an item description for another page and want the button to +1 that other page.</comment>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</href>
						<count translate="label comment">
							<label>Display Count Box</label>
							<comment>Indicates whether or not to render an aggregate count.</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</count>
						<size translate="label comment">
							<label>Size</label>
							<comment>The button size to load. +1 button icons will render at four heights: small (15px), medium (20px), standard (24px), and tall (65px).</comment>
							<frontend_type>select</frontend_type>
							<source_model>googleplusone/system_config_source_size</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</size>
					</fields>
				</general>
				<content translate="label">
					<label>Content Options</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<show_in_cms translate="label">
							<label>Display on CMS pages</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_in_cms>
						<show_in_home translate="label">
							<label>Display on Home page</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_in_home>
						<show_in_category translate="label">
							<label>Display on categories page</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_in_category>
						<show_in_product translate="label">
							<label>Display on products page</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_in_product>
						<show_custom translate="label">
							<label>Display Custom Buttons</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_custom>
						<show_widget translate="label">
							<label>Display Widget Buttons</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_widget>
					</fields>
				</content>
			</groups>
		</googleplusone>
	</sections>
</config>
