#aw-onestepcheckout-title-description::after {
	 border-width: 11px;
}
.aw-onestepcheckout-general-form-field.aw-onestepcheckout-general-form-field-right .input-box select {
    width: 135px;
}
.form-list .control input.checkbox{
	margin-left:0;
}
#aw-onestepcheckout-address .form-list .control label {
    padding-left: 20px;
}
.shipping_address_main {
    margin: 0;
}
#aw-onestepcheckout-shipping-address-list {
    padding: 20px;
}
.sp-methods dt {
    margin: 13px 0 5px;
    font-family: "robotoregular";
    font-size: 13px;
    color: #4999ba;
    font-weight: normal;
}
.sp-methods .price {
    font-weight: normal;
}
.checkbox, .radio {
	top:0;
}
#allow_gift_options {
    margin-top: 2px;
}
.aw-onestepcheckout-overlay-48 {
	left:0;
}
.inner-box input {
    margin-left: 2px;
}
.sp-methods dt input.radio{
	margin-left:0;
}
.sp-methods dt label {
    padding-left: 25px;
}
.sp-methods label a {
    float: left;
    margin-left: 10px;
}
.aw-onestepcheckout-cart-table {
      margin-top: 10px;
}
.input-box .v-fix {
     margin-right: 0px;
 }
 /* For IE */
 .cart-table .product-cart-actions .button {
	background-color:#fff;
 }
 .messages .success-msg li::after{
	cursor:pointer;
 }
 /* */
 .cart-table thead th, .cart-table tbody td {
	color:#8e8d8d;
 }
 .nobr, .nowrap {
	color:#8e8d8d;
 }
 #discount-coupon-form label, .cart .giftcard label {
	font-size:15px;
 }
 .giftcard .field-wrapper {
    padding-left: 5px;
}
.cart .giftcard .check-gc-status > span > span {
	color: #6899bb;
}
.cart-table .product-cart-sku .label {
    font-weight: 500;
}
.a-center product-cart-remove last .btn-remove2 {
    background-position: 0px 6px;
    border: none;
    vertical-align: top;
    background-image: url(../images/icn-x.png) !important;
    background-repeat: no-repeat;
}
tr.last.even {
    border-bottom: 1px solid #a5ccdd;
}
.cart-forms{
	margin-top:35px;
}
.cart-totals-wrapper{
	margin-top:0;
}