<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Redstage_ProductAttributes>
            <version>1.0.5</version>
        </Redstage_ProductAttributes>
    </modules>
    <global>
        <resources>
            <redstage_productattributes_setup>
                <setup>
                    <module>Redstage_ProductAttributes</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </redstage_productattributes_setup>
            <redstage_productattributes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </redstage_productattributes_write>
            <redstage_productattributes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </redstage_productattributes_read>
        </resources>
    </global>
</config>