<?xml version="1.0"?>
<config>
    <modules>
        <AW_Google_Connect>
            <version>3.0.0</version>
        </AW_Google_Connect>
    </modules>

    <global>
        <resources>
            <googleconnect_setup>
                <setup>
                    <module>AW_Google_Connect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </googleconnect_setup>
            <googleconnect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </googleconnect_write>
            <googleconnect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </googleconnect_read>
        </resources>
        <blocks>
            <googleconnect>
                <class>AW_Google_Connect_Block</class>
            </googleconnect>
        </blocks>
        <models>
            <googlecore>
                <class>AW_Google_Core_Model</class>
            </googlecore>
            <googleconnect>
                <class>AW_Google_Connect_Model</class>
                <resourceModel>googleconnect_mysql4</resourceModel>
            </googleconnect>
            <googleconnect_mysql4>
                <class>AW_Google_Connect_Model_Mysql4</class>
                <entities>
                    <synch>
                        <table>googleconnect_synch</table>
                    </synch>
                </entities>
            </googleconnect_mysql4>
        </models>
        <helpers>
            <googleconnect>
                <class>AW_Google_Connect_Helper</class>
            </googleconnect>
        </helpers>

        <template>
            <email>
                <googleconnect_create_account_email_template translate="label" module="googleconnect">
                    <label>Google new account</label>
                    <file>google_account_new.html</file>
                    <type>html</type>
                </googleconnect_create_account_email_template>
            </email>
        </template>
    </global>

    <frontend>
        <routers>
            <googleconnect>
                <use>standard</use>
                <args>
                    <module>AW_Google_Connect</module>
                    <frontName>googleconnect</frontName>
                </args>
            </googleconnect>
        </routers>
        <translate>
            <modules>
                <AW_Google_Connect>
                    <files>
                        <default>AW_Google_Connect.csv</default>
                    </files>
                </AW_Google_Connect>
            </modules>
        </translate>
        <layout>
            <updates>
                <googleconnect>
                    <file>googleconnect.xml</file>
                </googleconnect>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <AW_Google_Connect>
                    <files>
                        <default>AW_Google_Connect.csv</default>
                    </files>
                </AW_Google_Connect>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <googleconnect translate="title" module="googleconnect">
                                            <title>Google Connect</title>
                                            <sort_order>100</sort_order>
                                        </googleconnect>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <web>
            <routers>
                <googleconnect>
                    <area>frontend</area>
                    <class>AW_Google_Connect_Controller_Varien_Router_Standard</class>
                </googleconnect>
            </routers>
        </web>
        <googleconnect>
            <general>
                <enable_extension>0</enable_extension>
                <callback_url>googleconnect/login/callback</callback_url>
                <title>Sign in with Google</title>
            </general>
            <content>
                <show_in_login>0</show_in_login>
                <show_in_checkout>0</show_in_checkout>
                <show_custom>0</show_custom>
                <show_widget>0</show_widget>
            </content>
            <create_account>
                <enable_notify>0</enable_notify>
                <email_identity>general</email_identity>
            </create_account>
        </googleconnect>
    </default>
</config>
